<table border="0" cellspacing="0" cellpadding="0" width="713" style="width: 713px;">
	<tr>
		<td>
			<div style="background-color: #fbf4e1; height: 35px; border-style: solid; border-width: 4px; border-color: #bcb299; margin: auto; vertical-align: middle; text-align: center;">
			<span style="font-size: 16px; color: #5c7f1b; font-family: arial; position: relative; top: 6px; margin: auto;">We've bundled up some favorites.</span> 
			<span style="position: relative; top: 6px; font-size: 16px; color: #5c7f1b;font-family: arial;"><b><a href="#" style="color:#5c7f1b; text-decoration: none;" >CLICK HERE TO SHOP PRODUCT ASSORTMENTS</b> &nbsp;<img src="arrow.jpg" style="position: relative; top: 2px;"/></a></span></div>
		</td>
	</tr>
	<tr>
		<td>
				<div style="text-align:center; width:713px; margin-left:auto; margin-right:auto;">
				<img id="Image-Maps_8201202281922101" src="http://www.ddb04.com/tony_s/28278_aveeno_estore_text_email/body_big.jpg" usemap="#Image-Maps_8201202281922101" border="0" width="713" height="552" alt="" />
				<map id="_Image-Maps_8201202281922101" name="Image-Maps_8201202281922101">
				<area shape="rect" coords="19,181,126,210" href="#" alt="Show Now" title=""    />
				<area shape="rect" coords="185,477,270,502" href="#" alt="STOCK UP ON BESTSELLERS" title="STOCK UP ON BESTSELLERS"    />
				<area shape="rect" coords="468,478,553,503" href="#" alt="Nuture baby's delicate skin with our gentlest formulas" title="OH BABY!"    />
				<area shape="rect" coords="16,335,272,365" href="#" alt="Exclusive formula scientifically proven to seal in moisture all day" title="DAILY MOISTURIZING LOTION"    />
				</map>
				</div>
		</td>
	</tr>

</table>
            